.col-md-9
  form.form-inline
    .row
      .form-group.col-md-2
        label.control-label 主題搜尋
      .form-group.col-sm-9.has-feedback
        input.form-control(type='search', placeholder='', style='width: 100%')
        span(class="fa fa-plus-circle form-control-feedback" aria-hidden="true")
      .form-group.col-md-1
        button.btn.btn-primary.icon-btn(type='button') 查詢
.col-md-3
  .form-inline.pull-right
    .form-group
      i.fa.fa-lg.fa-shopping-cart
      span #
    .form-group
      span 已選變項
