aside.main-sidebar.hidden-print

  section.sidebar

    .header MyData

    // Sidebar Menu
    ul.sidebar-menu
      li
        a(href='#')
          span 新增專案
          i.fa.fa-plus
      li
        a(href='#')
          span 專案列表
          i.fa.fa-plus
      li
        a(href='#')
          span 專案管理
          i.fa.fa-angle-right



