aside.main-sidebar.hidden-print

  section.sidebar

    .header MyData

    // Sidebar Menu
    ul.sidebar-menu
      li
        a(href='#', data-toggle='modal', data-target='#newProjectName')
          span 新增專案
          i.fa.fa-plus
      //- li
      //-   a(href='#')
      //-     span 專案列表
      //-     i.fa.fa-angle-right
      li.treeview
        a(href='#')
          i.fa.fa-laptop
          span 專案列表
          i.fa.fa-angle-right
        ul.treeview-menu
          li
            a(href='my-data__project')
              i.fa.fa-circle-o
              |  Family
          li
            a(href='my-data__project')
              i.fa.fa-circle-o
              |  List 2
      li
        a(href='my-data__project-admin')
          span 專案管理
          i.fa.fa-angle-right
div(id='newProjectName',class='modal fade', abindex="-1")
  .modal-dialog.modal-sm(role="document")
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4(class="modal-title" id="myModalLabel") 建立專案名稱
      .modal-body
        form.form-horizontal
          .form-group
            label.control-label.col-md-3 名稱：
            .col-md-8
              input(class='form-control', type='text', placeholder='輸入名稱')
      .modal-footer
        button(type="button" class="btn btn-default" data-dismiss="modal") 取消
        button(type="button" class="btn btn-primary") 確定
