extends layouts/_search

block content
  .page-title
    div
      h1 Welcom

    div
      ul.breadcrumb
        li
          i.fa.fa-home.fa-lg
        li
          a(href='#') 首頁

  .row
    .col-md-3
    .col-md-5
    .col-md-4
