extends layouts/_default

block content
  .page-title
    div
      h1
        i.fa.fa-dashboard
        |  專案管理

    div
      ul.breadcrumb
        li
          i.fa.fa-home.fa-lg
        li
          a(href='#') MyData

  .row
    .col-md-12
      | 專案名稱：
      |
      span 專案名稱
      .pull-right
        | 最後編輯時間：
        |
        span yyyy/mm/dd PM HH:MM

  .bs-component
    ul.list-group
      li.list-group-item
        .row
          .col-md-7
            | 變項數：
            span #
          .col-md-5
            a.pull-right(href='#')
              i.fa.fa-pencil
              |
              | 編輯專案名稱
      li.list-group-item
        .row
          .col-md-7
            | 下載次數：
            span #
          .col-md-5
            a.pull-right(href='#')
              i.fa.fa-pencil
              |
              | 編輯變項清單
