extends layouts/_default

block content
  .page-title
    div
      h1
        i.fa.fa-dashboard
        |  Dashboard

    div
      ul.breadcrumb
        li
          i.fa.fa-home.fa-lg
        li
          a(href='#') Dashboard

  .row
    .col-md-3
    .col-md-5
    .col-md-4
