extends layouts/_search

block content
  .page-title
    // 搜尋分類
    include modules/_search-by-type.pug
  .row
    a(href='search-results') 開發用：前往搜尋結果

  //- .row
  //-   .col-md-3
  //-   .col-md-5
  //-   .col-md-4
